/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* ATOM SIMULATION Styles begin */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 17px;
    position: relative;
    color: #444343;
    background-color: #FCF9F0;

    /* No scroll bars */
    overflow: hidden;
}

canvas {
    border: 1px solid black;
    position: absolute;
}

button, div {
    background-color: #ECE389;
}

#input-window {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#errors {
    position: absolute;
    bottom: 1em;
    right: 11em;
    color: red;
    font-size: 1.4em;
    background-color: #FCF9F0;
}

/* Top left buttons */

#top-left {
    position: absolute;
    background-color: #FCF9F0;
}

#sim-controls-other {
    background-color: #FCF9F0;
}

#sim-controls-other button {
    width: 13em;
}

/* Header */

hgroup {
    margin: 0;
    position: absolute;
    bottom: 1.5em;
    right: 2em;
    z-index: 1;
}

h1, h2 {
    line-height: 1.3em;
}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: .8em;
}

/* Atom info display */

#display {
    position: absolute;
    right: 1em;
    top: 1em;
}

.atom-display {
    line-height: 1.6em;
    padding: 10px;
    border: 1px solid black;
}

.atom-display h3 {
    text-align: center;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Bottom center play controls */

#sim-controls-play {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: -4em;
    background-color: #ECE389;
    width: 8em;
    height: 8em;
    padding-top: 1.6em;
    padding-left: 1.25em;

    /* Make into circle */
    -webkit-border-radius: 6em;
    -moz-border-radius: 6em;
    border-radius: 6em;
}

#sim-controls-play button {
    border: none;
}

/* Menu */

#menu {
    background-color: #FCF9F0;
}

#toggle-all {
    width: 4em;
}

#toggle-shortcuts {
    width: 9em;
}

/* Shortcuts */

#shortcuts {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    border: 1px solid black;
}

#shortcuts h3 {
    text-align: center;
}

#shortcuts ul {
    list-style: none;
    padding: 10px;
}

#close-shortcuts {
    position: absolute;
    top: 0px;
    right: 0px;
}

span.shortcut {
    font-style: italic;
}

span.shortcut::before {
    content: '{';
}

span.shortcut::after {
    content: '}';
}